h1 {
	margin: 32px 0;
	color: #fff;
	font-size: 24px;
}
p {
	color: #fff;
	font-weight: bold;
	overflow: hidden;
}

.complete {
	text-decoration: line-through;
	opacity: 0.7;
}

.todo-form {
	display: flex;
	justify-content: center;
	margin: 32px 0;
}

.todo-input {
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #262626;
	outline: none;
	width: 60%;
	background: transparent;
	color: #fff;
}

.todo-input::placeholder {
	color: #e2e2e2;
}

.todo-button {
	padding: 16px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	outline: none;
	background: linear-gradient(90deg, #262626 0%, #262626 100%);
	color: #fff;
	text-transform: capitalize;
}

.todo-input.edit {
	border: 2px solid #149fff;
}

.todo-button.edit {
	background: linear-gradient(90deg, #f1f4f6 0%, #f1f4f6 100%);
	padding: 16px 22px;
}

.todo-container {
	display: flex;
	flex-direction: row;
	position: relative;
}

.todo-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px auto;
	color: #111;
	background: linear-gradient(90deg, #262626 0%, #262626 100%);
	padding: 16px;
	border-radius: 5px;
	width: 90%;
}

.icons {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

.delete-icon {
	margin-right: 5px;
	color: #fff;
}

.edit-icon {
	color: #fff;
}
.edit-icon * {
	pointer-events: none;
}
